= "Hi, #{@user.name}!"
Don't forget to place your bets for the upcoming matchday: To place them now, click the URL below.
= matchday_bets_path(Matchday.next_to_bet)
If you want to unsubscribe from this reminder, visit your profile page.
