- if @matchday
  .row
    .span7
      %h1 Your bets
      .wspace
      = render :partial => "shared/matchday_bets_form"
    .span5
      = render :partial => "shared/badges_new"
.wspace
.wspace
.row
  .span12
    %h1 Your Rank
    .wspace
    = render :partial => "shared/ranking"

