- if @matchday
  .row
    .span6
      %h1 Your Bets
      .wspace
      = render :partial => "shared/matchday_bets_form"
    .span1
      .wspace
    .span5
      .row
        %h1 Your New Awards
        .wspace
        = render :partial => "shared/badges_new"
      .row
        .wspace
        .wspace
      .row
        %h1 Your Rank
        .wspace
        = render :partial => "shared/ranking"

