- awards = current_user.awards
- awards = [:none] if awards.empty?
- awards.each do |award|
  %div{:class => "badge-icon #{award_class(award)}" }
    %div{:class => "badge-caption"}
      = award_text(award)[:small]
    %div{:class => "badge-caption text-large"}
      = award_text(award)[:large]