%h1 Your new awards
- @current_user.my_awards().each do |award|
  %div{:class => "badge-icon " + award[0]}
    %div{:class => "badge-caption"}
      = award[1]
    %div{:class => "badge-caption text-large"}
      = award[2]
%div{:class => "clearfix"}
  .wspace