%h1 Ranking
%br/
%table.table
  %tr
    %th Rank
    %th Name
    %th Total points
    %th
  - @ranking.sort_by {|user, rank| 0}.each do |user, rank|
    %tr
      %td= rank
      %td= link_to user.name, user
      %td= user.points
      %td
        - if current_user.admin?
          = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
