<p id="notice"><%= notice %></p>

<div class="btn-group">
  <% Matchday.all.each do |matchday| %>
    <%= link_to matchday.description, matchday_path(matchday), :class => 'btn btn-mini' %>
  <% end %>
</div>
<%= render :partial => "shared/next_matchday" %>