@import "compass_twitter_bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


// Colors

$lightgreen: hsl(84deg, 60%, 55%);
$green: hsl(84deg, 60%, 45%);
$darkgreen: hsl(84deg, 60%, 35%);

$blue-gradient: linear-gradient(top, $green, $darkgreen);

.btn-primary {
  @include background-image($blue-gradient);
  background-color: $darkgreen;
  border-color: $darkgreen;
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    background-color: $darkgreen;
  }
}

// Resets
	
.wspace {
	padding: 5px;
	clear: both;
}

.nomargin {
	margin: 0px;
}

.rightaligned{
	text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-result{
	width: 2em;
}


// Body
@media screen and (min-width: 800px)
{
	body {
		padding-top: 0px;
		background-image: asset-url('bg_footer_left_line.png', image), asset-url('bg_with_line_center.png', image), asset-url('bg_footer.png', image);
		background-position: bottom left, left, bottom;
		background-repeat: no-repeat, repeat-y, repeat-x;
	}
}


// Layout-Sections

@media screen and (min-width: 800px)
{
	#header{
		min-height: 200px;
		background-image: asset-url("bg_top_left_line.png", image), asset-url("bg_top.png", image);
		background-repeat: no-repeat, repeat-x;
	}
}

#content{
	padding-left: 0px;
	min-height: 600px;
}

#footer{
	min-height: 200px;
}

// Headings

h1{
	font-family: 'Lobster Two', cursive;
	color: #000000;
	float: none;
}

h2 {
	font-family: 'Lobster Two', cursive;	
}

// Table Styling

.table {
	.highlighted {
		background-color: hsl(90deg,30%,94%);	
	}
	td .nopadding {
		padding: 100px;
	}
}
.table-striped tbody th {
    background-color: #496a2b;
}


// Links
a {
	color: $green;	
	&:hover { 
		font-weight: solid; 
		text-decoration: none;
		color: hsl(84deg, 60%, 39%);
	}
}

// Badge-Stuff
.badge-icon{
    width: 90px;
	height: 90px;
    margin: 5px;
	padding-top: 10px;
	font-family: 'Oleo Script', cursive;
	float: left;
}

.badge-number-one{
    background: hsl(44deg,82%,50%); 	
	color: #ffffff;
	font-size: 16px;
	text-shadow: #c0c0c0 3px 3px 5px;
}

.circle { 
   -moz-border-radius: 50%; 
   -webkit-border-radius: 50%; 
   border-radius: 50%;
}

.badge-match-day-winner{
    background: hsl(44deg,82%,50%); 
	color: #ffffff;
	font-size: 16px;
	text-shadow: #c0c0c0 3px 3px 5px;
}

.badge-number-last{
    background: hsl(229deg,78%,59%); 
	color: #ffffff;
	font-size: 16px;
	text-shadow: #c0c0c0 3px 3px 5px;
}

.badge-none{
	background-image: asset-url('badge_none.png', image);
	color: #ffffff;
	font-size: 16px;
	text-shadow: #c0c0c0 3px 3px 5px;
}

.badge-caption{
	padding-top: 12px;
	text-align: center;
}

.text-large{
	line-height: 32px;
	font-size: 28px;
}

.text-small{
	font-size: 9px;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }